#background-image: url(themes/steel3.jpg)}

a:link { color:#6666aa }
a:active {color:#aa6666 }
a:visited { color :#6666aa }

.topics-back { background: #6C7198; color: #cccccc}
.topics-back-text a:link { color: #ffffff }
.topics-back-text a:visited { color: #ffffff }




.topic-table-border { border: 1px solid white}
.topic-table { background: #ffffff; border: 1px solid white}
.topic-title { background: #D1D5D7; color: black }
.topic-info { background: #E3E3E3; color: black; font-style: italic}
.topic-text { background: #ffffff; color: #000000;}
//.topic-actions { background: #ffffff; color: black}
//.topic-actions-border { background: black; border: 1px solid black}
.topic-actions { background: #D1D5D7; color: black}
.topic-listing {background: #EAECEF}
                             
